<!DOCTYPE html>
<html lang="en">

<head>
  <!-- metadata elements -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>
  <link rel="stylesheet" href="../static/style.css">
  <title>Personal Portfolio Webpage</title>
  <!--[if lt IE 9]>
   <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
   <![endif]-->
</head>

<body>
  <!-- nav bar -->
  <nav id="navbar">
    <div id=emoji-div>
      <p id="emoji">
        😊
      </p>
    </div>
    <ul>
      <li>
        <a href="#about-section">About</a>
      </li>
      <li>
        <a href="#projects">Work</a>
      </li>
      <li>
        <a href="#contact-section">Contact</a>
      </li>
    </ul>
  </nav>
  <!-- welcome section -->
  <section id="welcome-section">
    <div class="section-container">
      <h1>
        Hello World!<br>I'm C.
      </h1>
      <p class="y-underline">
        a striving full stack developer
      </p>
    </div>
  </section>
  <!-- about section -->
  <section id="about-section">
    <div class="section-container">
      <h2 class="y-underline">
        About
      </h2>
      <div id="about-grid" class="grid">
        <div id='about-div'>
          <img id="avatar" src="https://pbs.twimg.com/media/De0Daf9UYAIJ1I3.jpg" alt="avatar">
        </div>
        <div id='about-div'>
          <p>
            A newb web developer.. slash.. striving programmer, living in grey and gloomy Bergen Town. This is not my real portfolio. It is mearly for fun and the purpose of completing a project.
          </p>
          <p><q>I ain't happy, I'm feeling glad. I got sunshine in a bag. I'm useless, but not for long. The future is coming on. It's coming on, it's coming on.</q><br>
            <author><i>- Gorillaz</i></author>
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- project section -->
  <section id="projects">
    <div class="section-container">
      <h2 class="y-underline">
        Projects
      </h2>
      <div id="project-grid" class="grid">
        <div class="project-tile">
          <a href="https://codepen.io/ldyglittersparkle/pen/ExYJXQp">
            <img src="https://assets.codepen.io/3631426/internal/screenshots/pens/ExYJXQp.default.png" alt="tribute page project">
            <p>PROJECT 1</p>
          </a>
        </div>

        <div>
          <a href="https://codepen.io/ldyglittersparkle/pen/qBWGjxy">
            <img src="https://assets.codepen.io/3631426/internal/screenshots/pens/qBWGjxy.default.png" alt="suvery form project">
            <p>PROJECT 2</p>
          </a>
        </div>

        <div>
          <a href="https://codepen.io/ldyglittersparkle/pen/LYPKzqW">
            <img src="https://assets.codepen.io/3631426/internal/screenshots/pens/LYPKzqW.default.png" alt="product page project">
            <p>PROJECT 3</p>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- contact section -->
  <section id="contact">
    <div class="section-container">
      <h2 class="y-underline">
        Let's work together
      </h2>
      <p>How do you like your troll?</p>
      <ul id="contact-grid" class="grid">
        <li>
          <a id="profile-link" base target="_blank" href="https://www.github.com/">
            GITHUB
          </a>
        </li>
        <li>
          <a id="profile-link" base target="_blank" href="https://www.twitter.com/">
            TWITTER
          </a>
        </li>
        <li>
          <a id="profile-link" base target="_blank" href="https://www.gmail.com/">
            EMAIL
          </a>
        </li>
        <li>
          <a id="profile-link" base target="_blank" href="https://www.whatsapp.com/">
            MOBILE
          </a>
        </li>
      </ul>
    </div>
  </section>
  <!-- footer -->
  <footer>
    <p>
      **The about and contact details provided are fictional for the sole purpose to fulfill the project's criteria.
    </p>
    <p>
      &copy; Carla-001
    </p>
  </footer>
</body>

</html>